.form
{
    background-color: rgb(19, 19, 19);
    border-radius: 30px;
    padding-block: 20px;
    padding-inline: 100px;

  
    border-width: 1px;
    border-style: solid;
    border-color: rgb(100, 100, 255);
    filter: drop-shadow(0px 0px 10px rgb(100, 100, 255));
}

input
{
    border-radius: 30px;
    border-color: rgb(100, 100, 255);
    height: 20px;
    width: max-content;
    padding-left: 10px;
    margin-bottom: 10px;
}