.image
{
 width: 50px;
 filter: drop-shadow(0 0 3px #7666ff);
}

.card
{
    padding-inline: 3px;
    border-radius: 30px;
    background-color: #1a1a1a;
    flex-direction: column;
    align-content: center;
    
    align-items: center;
    margin-block: 10px;
    margin-inline: 10px;
    min-width: fit-content;
    min-height: 130px;
    max-width: 130px;
}
.card:hover
{
        cursor: pointer;
        filter: drop-shadow(0 0 3px #7666ff);
}