.card {
  width: 80%;
  margin: 0 auto; /* Centrar la tarjeta en la página */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra en la tarjeta */
}
i{
  margin: 10px 10px;
  font-size:larger;
}
.bi-trash-fill{
  color: red;
}
.bi-pencil-square{
  color: blue;
}