body {
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;

    background-image: url('https://media.istockphoto.com/id/1351795614/es/foto/bolas-de-loter%C3%ADa-de-navidad-ilustraci%C3%B3n-3d.jpg?s=612x612&w=0&k=20&c=wAxtJJXwlRuOShfzX9hIefWPGOgypu61iwHj4V610qE=');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.user {
    margin-bottom: 20px;
}

input {
    width: 40px;
    margin: 5px;
}

button {
    padding: 5px 10px;
    background-color: #ec0a0a;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2a0707;
}

.result {
    font-weight: bold;
}

h2 {
    margin-bottom: 10px;
}