.ventasListContainer {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.ventasListTitle {
  color: #333;
  font-size: 24px;
  text-align: center;
}

.ventasList {
  list-style-type: none;
  padding: 0;
}

.ventaItem {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.productosList {
  list-style-type: square;
  padding-left: 20px;
}

.productoItem {
  color: #555;
}
