.log
{
 
    display: flex;
    background-color: #080808;
    width: 300px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 30px;
    border-style: solid;
    border-color: #fff898;
    font-family: sans-serif;
    font-size: large;
   
}
.text
{
    border-radius: 30px;
    border-style: none;
}
