body{
    background-color: cornsilk;
    font-family: sans-serif;
    text-align: center;
}
input{
    display: block;
    margin: auto;
    margin-bottom: 15px;

}
#btnCalcular{
    background-color:blue;
    color: aliceblue;
}