#Adivinar-palabra-sec
{
    display: none;
}
h1{
    font-family: 'Varela Round', sans-serif;
    color: aliceblue;
    font-size: 32px;
    text-shadow: #fffffc 0 0 10px, #412244 5px 5px 5px;
    margin-top: 70px;
}
html
{

    text-align: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./sprites/PNG/game_background_4/game_background_4.png")
}
#player
{
    margin-top: 30px;
    margin-bottom: 30px;
}

#mis-mensajes
{
    font-family: 'Qwitcher Grypen', cursive;
    text-shadow: #fffffc 0 0 10px, #412244 5px 5px 5px;
    font-size: 30px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 140px;
    background-color: #9186a1;
    width: fit-content;
    border-radius: 60px;
    padding-left: 30px;
    padding-right: 27px;
}


.hearth
{
    width: 70px;
}
.botones
{
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    background-color: deepskyblue;
    font-family: 'Varela Round', sans-serif;
}
.cajas
{
    border-radius: 20px;
    padding-left: 7px;
    border-color: teal;
    border-style: dotted;
    font-family: 'Varela Round', sans-serif;

    

}
.casilla
{
    margin-bottom: 20px;
    border-radius: 100%;
    border-style: solid;
    width: 10px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}
.ingame
{
    display: grid;
    grid-template-columns: min-content auto min-content;
}

