.juego-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  

  .cajas-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  

  .caja {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  

  .caja.segura {
    background-color: green;
  }
  

  .caja.mina {
    background-color: red;
  }
  

  .botones-container {
    display: flex;
    gap: 10px;
  }
  
  