/* Admin.css */

/* Estilos para el título principal */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Estilos para la lista de signos */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Estilos para los botones "Editar" */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para el formulario de edición */
h2 {
    font-size: 20px;
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para el botón "Guardar cambios" */
button[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #218838;
}