.tabla-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    margin-top: -300px; /* Agrega un margen superior */
    margin-left: 500px;
} 
.mi-tabla-css {
    border-collapse: collapse; /* Colapsa los bordes de las celdas */
    width: 80%; /* Ajusta el ancho de la tabla según tus preferencias */
  }
  
  .mi-tabla-css th, .mi-tabla-css td {
    border: 1px solid #000; /* Agrega un borde sólido a las celdas */
    padding: 8px; /* Espaciado interior de las celdas */
    text-align: center; /* Alinea el texto al centro si lo deseas */
  }
  
  .mi-tabla-css th {
    background-color: #f2f2f2; /* Color de fondo para las celdas del encabezado (opcional) */
  }
  
  /* Añade estilos adicionales según tus preferencias */
  


