
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.hangman-container {
    display: flex;
    align-items: flex-start;
}

.hangman {
    margin-right: 20px;
    
}

#word-display {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#lives {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

input.form-control {
    font-size: 18px;
}

button.btn-primary {
    font-size: 18px;
}
